@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", "Arial", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}

.site-header {
  position: relative;
}

.site-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.site-header__logo-link {
  color: #34313D;
  margin-right: 45px;
}

.site-header__menu-btn {
  border: transparent;
  background-color: transparent;
}

.site-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: auto;
}

.sitenav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item {
  margin-right: 30px;
}
.sitenav__item :nth-child(3) {
  margin-right: 0;
}

.sitenav__link {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #9E9AA8;
  text-decoration: none;
  text-align: start;
}

.sitenav__list-login {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  display: none;
}

.sitenav__item-login {
  margin-right: 37px;
}

.sitenav__link-login {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #9E9AA8;
  text-decoration: none;
}

.sitenav__link-login--active {
  padding: 9px 23px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #2BD0D0;
  border-radius: 28px;
}

.sitenav__box {
  display: flex;
}

.sitenav__box {
  display: none;
}

.sitenav-on .sitenav__box {
  position: absolute;
  padding: 24px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 383px;
  top: 120%;
  left: 0;
  right: 0;
  display: block;
  z-index: 12;
  background-color: #3A3054;
  border-radius: 10px;
}

.sitenav-on .sitenav {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 25px;
  border-bottom: 2px solid #9E9AA8;
}

.sitenav-on .sitenav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

.sitenav-on .sitenav__item {
  margin-right: 0;
  margin-bottom: 30px;
  z-index: 1;
}

.sitenav-on .sitenav__item:nth-child(3) {
  margin-bottom: 0px;
}

.sitenav-on .sitenav__line {
  width: 280px;
  height: 2px;
  color: red;
}

.sitenav-on .sitenav__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.sitenav-on .sitenav__list-login {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.sitenav-on .sitenav__item-login {
  margin-right: 0;
  margin-bottom: 32px;
}

.sitenav-on .sitenav__link-login {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}

.sitenav-on .sitenav__link-login--active {
  display: inline-block;
  padding: 10px 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  text-align: center;
  background-color: #2BD0D0;
  border-radius: 28px;
}

@media only screen and (min-width: 720px) {
  .site-header__menu-btn {
    display: none;
  }
  .site-header__inner {
    justify-content: start;
  }
  .sitenav__box {
    display: flex;
    width: 100%;
  }
  .sitenav__list-login {
    display: flex;
  }
}
@media only screen and (min-width: 1000px) {
  .sitenav__link:hover {
    color: #34313D;
  }
  .sitenav__link-login:hover {
    color: #34313D;
  }
  .sitenav__link-login--active:hover {
    color: #fff;
    background-color: #9AE3E3;
  }
}
.hero {
  background-image: url("../images/mobilebg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.hero__content {
  padding-top: 400px;
  padding-bottom: 88px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.hero__topic {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1.05px;
  color: #34313D;
}

.hero__text {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.122727px;
  color: #9E9AA8;
}

.hero__link {
  display: inline-block;
  padding: 13px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  background-color: #2BD0D0;
  border-radius: 28px;
  text-decoration: none;
}

@media only screen and (min-width: 450px) {
  .hero__content {
    padding-top: 550px;
  }
}
@media only screen and (min-width: 550px) {
  .hero {
    background-image: url("../images/hero-bg-img.svg");
    background-size: contain;
  }
  .hero__content {
    padding-top: 600px;
  }
}
@media only screen and (min-width: 720px) {
  .hero {
    background-size: contain;
    background-position-y: 20%;
  }
  .hero__content {
    padding-top: 800px;
  }
}
@media only screen and (min-width: 1000px) {
  .hero {
    background-image: url("../images/hero-bgdesktop.jpg");
    background-position: calc(50% + 490px) calc(50% - 30px);
    background-size: 845px 597px;
  }
  .hero__content {
    padding: 139px 250px 222px 0;
    width: 75%;
    margin-right: 0;
    margin-left: 0;
    margin: 0;
    text-align: start;
  }
  .hero__topic {
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    text-align: start;
    letter-spacing: -2px;
    color: #34313D;
  }
  .hero__text {
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    text-align: start;
    letter-spacing: 0.15px;
  }
  .hero__link:hover {
    color: #fff;
    background-color: #9AE3E3;
  }
}
.shorten {
  width: 100%;
}

.shorten__wrap {
  position: relative;
}

.shorten__form {
  width: 100%;
  padding: 24px;
  position: absolute;
  top: 80px;
  left: 0;
  background-image: url("../images/bg-img.png");
  position: relative;
  border-radius: 10px;
}

.shorten__input {
  width: 100%;
  margin-bottom: 30px;
  padding: 12px 20px 12px 16px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: transparent;
}

input::-moz-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.12px;
  color: #34313D;
}

input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.12px;
  color: #34313D;
}

input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.12px;
  color: #34313D;
}

.shorten__btn {
  width: 100%;
  padding: 10px 61px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  background-color: #2BD0D0;
  border-radius: 5px;
  border: transparent;
}

.shorten__invalid {
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.109091px;
  color: #F46363;
  opacity: 0;
  position: absolute;
  bottom: 76px;
}

input:not(:-moz-placeholder-shown):not(:focus):invalid {
  color: #F03535;
  border: 3px solid #F46363;
}

input:not(:-ms-input-placeholder):not(:focus):invalid {
  color: #F03535;
  border: 3px solid #F46363;
}

input:not(:placeholder-shown):not(:focus):invalid {
  color: #F03535;
  border: 3px solid #F46363;
}

input:not(:placeholder-shown):not(:focus):invalid::-moz-placeholder {
  color: #F03535;
}

input:not(:placeholder-shown):not(:focus):invalid:-ms-input-placeholder {
  color: #F03535;
}

input:not(:-moz-placeholder-shown):not(:focus):invalid::placeholder {
  color: #F03535;
}

input:not(:-ms-input-placeholder):not(:focus):invalid::placeholder {
  color: #F03535;
}

input:not(:placeholder-shown):not(:focus):invalid::placeholder {
  color: #F03535;
}

input:not(:-moz-placeholder-shown):not(:focus):invalid + .shorten__invalid {
  opacity: 1;
  color: #F03535;
}

input:not(:-ms-input-placeholder):not(:focus):invalid + .shorten__invalid {
  opacity: 1;
  color: #F03535;
}

input:not(:placeholder-shown):not(:focus):invalid + .shorten__invalid {
  opacity: 1;
  color: #F03535;
}

@media screen and (min-width: 720px) {
  .shorten__form {
    display: flex;
    width: 95%;
    z-index: 5;
    top: 47px;
  }
  .shorten__input {
    padding: 10px 61px;
    margin-bottom: 0;
    margin-right: 10px;
  }
  .shorten__invalid {
    bottom: 0;
  }
}
@media screen and (min-width: 1000px) {
  .shorten__form {
    display: flex;
    padding: 52px 65px;
    width: 100%;
    top: 78px;
  }
  .shorten__input {
    padding: 14px 32px;
    width: 100%;
    max-width: 769px;
    margin-right: 24px;
  }
  .shorten__btn {
    padding: 17px 40px;
    max-width: 188px;
    width: 100%;
  }
  .shorten__btn:hover {
    background-color: #9AE3E3;
  }
  .shorten__invalid {
    bottom: 20px;
  }
}
.next {
  padding-top: 200px;
  background-color: #808080;
}/*# sourceMappingURL=main.css.map */